body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Set a fallback font-family */
    background-color: #f4f4f4; /* Light gray background color */
}

/* Styles for the input page */
.output-page {
    background-color: #fff; /* White background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    padding: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.progress-container {
    margin-top:20px;
    width: 80%;
    height: 20px;
    background-color: #f0f0f0;
    position: relative;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    position: absolute;
    top: 0;
    left: 0;
}

.draggable-circle {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.output-rows {
    display: flex;
    justify-content: space-between;
}
.iframe-container{
    width:100%;
    height:70vh;
}
.iframw{
    width:100%;
    height:100%;
}
.output-cols{
    width:100%;
}
.label-sdr{
    font-size:18px;
    font-weight:100;
}
.output-rows{
    margin-top:20px;
}