@inherits LayoutComponentBase

<div class="page" style="background-color:#E3FDD7 !important">

    <main style="background-color:#E3FDD7 !important">
        <div class="top-row px-12" style="background-color:#00E7C7 !important">
            <a href="https://learn.microsoft.com/en-us/dotnet/maui/?view=net-maui-8.0" target="_blank">About</a>
        </div>
        <article class="content px-4" style="background-color:#E3FDD7 !important">
            @Body
        </article>
    </main>
</div>
